<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/fonts/roboto/index.css">
    <link rel="stylesheet" href="/fonts/material-icons/index.css">
    <link rel="stylesheet" href="/css/material.indigo-pink.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Demo 3</title>
</head>
<body>

    <div class="mdl-layout">

        <h1>Demo 3: Tiedostojen upload</h1>